*{
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono", sans-serif;
    box-sizing: border-box;
}
*{
    text-decoration: none;

}
.navbar
{
    background: white; font-family: "Jetbrains Mono", sans-serif; padding-right: 15px; padding-left: 15px;
    width:100%;
}
.navdiv
{
    display: flex; align-items: center; justify-content: space-between;
}
img{
    height:3rem;
}
.logo a
{
    font-size: 30px; font-weight: 600; color: royalblue; font-style: italic;
}
li
{
    list-style: none; display: inline-block;
}
li a
{
    color: royalblue; font: size 18px; ; font-weight: bold; margin-right: 25px;
}
#navBtn
{
    background-color: royalblue; margin-left: 50px; border-radius: 50px; padding: auto; width: 100px;
}
#navBtn a
{
    color: white; font-weight: bold; font-size: 14px;
}

nav a:hover {
    color:purple;
}
section {
    display:block;
}
.D-Block{
    display:block;
    background-color: #00539f;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 60px;
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    border: 100px solid #00539f;
    transition: 0.5s;
    font-family: "jetbrains mono";
}