*{
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono", sans-serif;
    box-sizing: border-box;
}
img{
    width:10rem
}
.nav {
    display:flex
}
.D-Block{
    display:block;
    background-color: #00539f;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 60px;
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    border: 100px solid #00539f;
    transition: 0.5s;
    font-family: "jetbrains mono";
}