 html {
    margin: 0;
    padding: 0;
    box-sizing: border-box
 }

 .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .left-side h1 {
    font-size: 30px;
    color: blue;
 }
