body{
     background: linear-gradient(to right, rgba(0, 56, 113),rgb(133, 179, 224)); 
    
}

#genHead{
    background-color: rgba(255, 255, 255, 0.975);
    height:50px;
    padding: 10px 20px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

#genHead h1 {
    margin-top: 10px;
}
#cornerImage
{
    background: radial-gradient(circle,lightblue,blue);
    position: fixed;
    bottom:0;
    right:0;
    margin:-70px;
    opacity:0.1;
    border-radius: 50%;
    width:300px;
    height:300px;
}

#cornerImage2
{
    background: radial-gradient(circle,lightblue,blue);
    position: fixed;
    opacity:0.0;
    border-radius: 50%;
    z-index:-1;
    bottom:50%;
    left:5%;
    width:300px;
    height:300px;
    
}
#listOfTips{
    list-style-type: none;
    margin:0;
    padding:0;
}

#listOfTips li
{
    border-radius: 12px;
    padding:10px;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.2);
    width:fit-content;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.96);
}

#textLogo
{
    margin:0;
    padding:0;
}

#genHead ul{
    display:flex;
    gap:100px;
    list-style-type: none;
    float: right;
    margin: 20px;
    margin-right:30px;
    font-size: 20px;
    color:rgb(5, 83, 161);
    font-weight: 700;
    font-family:'Times New Roman', Times, serif ;
}

#genHead a{
    text-decoration: none;
}

.genButtonContainer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

#genButton {
    position: relative;
    background:linear-gradient(145deg,#00539f, #006bb3);
    width: 400px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    border-style: none;
    border: 1px solid #005587;
    color:white;
    transition: all 0.3s ease;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.2);
}

#genButtonText {
    color: white;
    font-size:30px;
    font-weight: 700;
}

#genHead ul li{
   
    text-decoration-color: lightblue;
    text-underline-offset: 7px;
    margin-left:-30px;
    cursor:pointer;
}
#genHead ul li a{
    transition: background-color 0.3s ease-in;
    border-radius: 10px;
    padding:3px;
}
#genHead ul li a:hover{
    background-color: rgb(0, 83, 159);
    color:white;
}


#genText{
    position: relative;
    left:235px;
    width:240px;
    height:65px;
    border-radius: 12px;
    background-color: rgb(58, 58, 207);
    color:white;
    font-size: large;
    padding: 10px 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: linear-gradient(10deg, rgb(107, 107, 181), rgb(58, 58, 207));
}

#contain{
    position: relative;
    top:30px;
    width:68%;
    height:570px;
    overflow-y: scroll;
    border:1px solid #ccc;
    padding:10px;
    left:255px;
    border-radius: 12px;
    font-size: large;

    border: none; /* Hide border */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    
    scrollbar-width: thin;
    transition: scrollbar-color 0.5s ease;
    scrollbar-color: #71A1D0 transparent;
}
#contain:hover{
    scrollbar-color: #888 transparent;
}

.Category{
    text-decoration: underline;
    text-decoration-color: lightblue;
    text-underline-offset: 7px;
}


